.title {
    text-align: center;
}

.container {
    background-color: lightgray;
    padding: 25px;
}

.feedContainer, .lastFeedContainer {
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto 25px;
    border-radius: 3%;
}

.feedHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.date {
    color: lightgray;
}

.comments {
    margin: 10px;
    text-align: justify;
}

.lastFeedContainer {
    margin-bottom: 0;
}